<!DOCTYPE html>
<html lang="en">

  <head>

    <title><%= h((yield(:title) || 'Untitled') + SITE_TITLE) %></title>

    <!-- Declare UTF-8 character encoding, for situations where we don't have a web server to do so for us. -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Google will display this in its search results. TODO: Determine if the page wants to set this. -->
    <meta name="description" content="" />
    
    <!-- For mobile viewport     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favorites icon for IE5+ and W3C-compliant browsers. -->
    <!-- The Rails Logo (downloaded from http://railslogo.com) was created by Kevin Milden and is distrubuted under the BY-ND Creative Commons Licence. -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.ico" /> <!-- TODO: Add 32x32 and 64x64 icons to the ICO file. -->

    <!-- Tell IE6 not to add Image Toolbar to images, nor SmartTags. -->
    <meta http-equiv="imagetoolbar"        content="false" /> <!-- See http://www.microsoft.com/windows/ie/using/howto/customizing/imgtoolbar.mspx -->
    <meta name="MSSmartTagsPreventParsing" content="true" />

<% if GOOGLE_ANALYTICS_CODE %>
    <!-- Google Analytics code. (Used only by my JavaScript code.) -->
    <meta name="google.analytics.code" content="<%= GOOGLE_ANALYTICS_CODE %>" />
<% end %>

<% if GOOGLE_WEBMASTERS_CODE %>
    <!-- Allow use of Google Webmaster Tools (http://www.google.com/webmasters/) to see how Google views your site. -->
    <meta name="verify-v1" content="<%= GOOGLE_WEBMASTERS_CODE %>" />
<% end %>

    <!-- Make sure all CSS stylesheets come before all JavaScript. (http://code.google.com/speed/page-speed/docs/rtt.html#PutStylesBeforeScripts) -->
    <% # Combine all stylesheets into a single CSS file (possibly excepting IE-specific file(s)), preferably compressed. %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>

    <!-- Make ABBR elements work in all versions of IE. See http://xopus.com/devblog/2008/style-unknown-elements.html -->
    <script type="text/javascript">document.createElement('abbr');</script>

    <!-- Include jQuery. If production, pull it from Google. -->
    <%= jquery_include_tag %>

    <!-- Include DataTables plugin for jQuery. -->
    <%= stylesheet_link_tag '//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' %>
    <%= javascript_include_tag '//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js' %>
    <script type="text/javascript">
      jQuery(document).ready(
        function(){
          jQuery('table.to-be-data-table').DataTable();
          jQuery('[data-toggle="popover"]').popover();
        }
      );
    </script>

    <!-- Include all other JavaScript files. If production, minimize and combine into a single file. -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'boochtek/google-analytics' if GOOGLE_ANALYTICS_CODE %>

    <!-- Make sure we're not subject to CSRF attacks. -->
    <%= csrf_meta_tags %>

    <% # TODO: More header/footer stuff. %>
    <%= yield(:head) %>

  </head>

  <!-- Provide a CSS signature, derived from site's URI. (http://archivist.incutio.com/viewlist/css-discuss/13291) -->
  <body id="<%= CSS_SIGNATURE %>">

    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid"> 
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <%= image_tag 'phome_web-logo_web_logo.png', :size => "45" %>
            </a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active" style="border-right: 1px solid #ddd;"><a href="<%= new_stay_path %>">Check In</a></li>
              <li class="active" style="border-right: 1px solid #ddd;"><a href="<%= stays_path %>">Check-Ins</a></li>
              <li class="active" style="border-right: 1px solid #ddd;"><a href="<%= users_path %>">Clients</a></li>
              <li class="active" style="border-right: 1px solid #ddd;"><a href="<%= shelters_path %>">Shelters</a></li>
              <li class="active"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>
</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div id="container">
      <div id="flash">
<% flash.each do |name, msg| %>
        <%= content_tag :div, h(msg), :id => "flash_#{name}" %>
<% end %>
      </div>

      <%= yield %>
    </div>

    <footer>
      <div class="col-md-12">
        <ul class="social-network social-circle">
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>       
      </div>

      <div class="col-md-12 text-center" style="color: white">
        Copyright © 2016 Phome Home
      </div>
    </footer>

  </body>

</html>
